name: リリース

on:
  push:
    tags: 
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-Beta[0-9]+'

env:
  PACKAGING_PROJECT_NAME: TsunaCan.HelloWorld
  TEST_PROJECT_NAME: Test.TsunaCan.HelloWorld
  PACKAGE_ARTIFACT_NAME: packages

jobs:
  packaging:
    name: パッケージング
    runs-on: ubuntu-latest
    env:
      BUILD_CONFIGURATION: Release
    outputs:
      is_pre_release: ${{ steps.setup-variables.outputs.is_pre_release }}
      package_version: ${{ steps.setup-variables.outputs.package_version }}
      file_version: ${{ steps.setup-variables.outputs.file_version }}
    permissions:
      contents: read

    steps:
      - id: setup-variables
        name: 変数の初期化
        run: |
          pre_release=false
          if [[ "${{ github.ref_name }}" == *"Beta"* ]]; then
            pre_release=true
          fi
          echo "is_pre_release:$pre_release"
          echo "is_pre_release=$pre_release" >> $GITHUB_ENV
          echo "is_pre_release=$pre_release" >> $GITHUB_OUTPUT

          package_version="${{ github.ref_name }}"
          echo "package_version:$package_version"
          echo "package_version=$package_version" >> $GITHUB_ENV
          echo "package_version=$package_version" >> $GITHUB_OUTPUT

          file_version=${package_version:1}
          echo "file_version:$file_version"
          echo "file_version=$file_version" >> $GITHUB_ENV
          echo "file_version=$file_version" >> $GITHUB_OUTPUT

      - name: ブランチのチェックアウト
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 1
          
      - name: NuGet パッケージの作成
        run: |
          mkdir $PACKAGE_ARTIFACT_NAME
          dotnet pack ./src/$PACKAGING_PROJECT_NAME/$PACKAGING_PROJECT_NAME.csproj --configuration $BUILD_CONFIGURATION --output $PACKAGE_ARTIFACT_NAME -p:PackageVersion=$file_version -p:Version=$file_version -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg

      - name: ビルドアーティファクトのアップロード
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PACKAGE_ARTIFACT_NAME }}
          path: ${{ env.PACKAGE_ARTIFACT_NAME }}/
          retention-days: 3

  release-to-nuget:
    name: NuGet へのリリース
    runs-on: ubuntu-latest
    needs: packaging
    permissions:
      contents: read

    steps:
      - name: ビルドアーティファクトのダウンロード
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.PACKAGE_ARTIFACT_NAME }}

      - name: NuGet パッケージの公開
        id: release-to-nuget
        continue-on-error: true
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
        run: dotnet nuget push $PACKAGING_PROJECT_NAME.${{ needs.packaging.outputs.file_version }}.nupkg --api-key $NUGET_API_KEY --source $NUGET_SOURCE > nuget_push_log.txt
          
      - name: NuGet パッケージの公開結果表示
        shell: bash
        run: |
          cat nuget_push_log.txt
          echo "# NuGet release info :toolbox:" >> $GITHUB_STEP_SUMMARY
          cat nuget_push_log.txt >> $GITHUB_STEP_SUMMARY

      - name: NuGet パッケージの公開結果判定
        if: ${{ steps.release-to-nuget.outcome == 'failure' }}
        run: exit 1

  release-to-github:
    name: GitHub へのリリース
    runs-on: ubuntu-latest
    needs: [packaging, release-to-nuget]
    permissions:
      contents: write

    steps:
      - name: ビルドアーティファクトのダウンロード
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ env.PACKAGE_ARTIFACT_NAME }}
      
      - id: create-github-release
        name: GitHub のリリース作成
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: |
            *.nupkg
            *.snupkg
          generate_release_notes: true
          name: "${{ needs.packaging.outputs.package_version }}"
          prerelease: ${{ needs.packaging.outputs.is_pre_release }}
          tag_name: "${{ needs.packaging.outputs.package_version }}"
      
      - name: GitHub のリリース結果表示
        run: |
          echo "Is pre-release:${{ needs.packaging.outputs.is_pre_release }}"
          echo "Package version:${{ needs.packaging.outputs.package_version }}"
          echo "Release page URL:${{ steps.create-github-release.outputs.url }}"
          echo "# GitHub release info :octocat:" >> $GITHUB_STEP_SUMMARY
          echo "Release page URL: <${{ steps.create-github-release.outputs.url }}>" >> $GITHUB_STEP_SUMMARY
      
        